<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org//dtd/ibatis-3-mapper.dtd">
	
<mapper namespace="cn.tedu.cloud_note.dao.EmpDao">
	<!-- MYSQL：数据库自动生成主键，获取主键值放入对象的id属性中 -->
	<insert id="save" parameterType="cn.tedu.cloud_note.entity.Emp"
	 useGeneratedKeys="true" keyProperty="id">
		insert into t_emp(name,age) values(#{name},#{age})
	</insert>
</mapper>