<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org//dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cloud_note.dao.RelationDao">
<!-- 使用两条SQL语句加载数据 -->
	<select id="findUserAndBooks" parameterType="String" resultMap="userMap1">
		select * from cn_user where cn_user_id=#{id}
	</select>
	<resultMap id="userMap1" type="cn.tedu.cloud_note.entity.User">
		<id property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
			<!-- 指定books属性是一个List集合，泛型为Book 
				javaType是返回类型，ofType是每一个元素的类型-->
		<collection property="books" 
					javaType="java.util.List" 
					ofType="cn.tedu.cloud_note.entity.Book"
					select="findBooks"
					column="cn_user_id">
		</collection>
	</resultMap>
	<select id="findBooks" parameterType="String" resultType="cn.tedu.cloud_note.entity.Book">
		select * from cn_notebook where cn_user_id=#{userId}
	</select>
	
	<!-- 一条SQL加载USER -->
	<select id="findUserAndBooks1" parameterType="String" resultMap="userMap2">
		select * from cn_user u join cn_notebook b on(u.cn_user_id=b.cn_user_id)
		where u.cn_user_id=#{userId}
	</select>
	<resultMap id="userMap2" type="cn.tedu.cloud_note.entity.User">
			<!-- 定义cn_user字段装载，不能省略 -->
		<id property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
		<result property="cn_user_password" column="cn_user_password"/>
		<result property="cn_user_token" column="cn_user_token"/>
		<result property="cn_user_desc" column="cn_user_desc"/>
		
		<collection property="books"
					javaType="java.util.List"
			 		ofType="cn.tedu.cloud_note.entity.Book">
			 <id property="cn_notebook_id" column="cn_notebook_id"/>
			 <result property="cn_user_id" column="cn_user_id"/>
			 <result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
			 <result property="cn_notebook_name" column="cn_notebook_name"/>
			 <result property="cn_notebook_desc" column="cn_notebook_desc"/>
			 <result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
			
		</collection>
	</resultMap>
	
	<!-- 两条语句加载book和关联的User信息 -->
	<select id="findBookAndUser" resultMap="bookMap">
		select * from cn_notebook 
	</select>
	<resultMap id="bookMap" type="cn.tedu.cloud_note.entity.Book">
		<association property="user" 
					 javaType="cn.tedu.cloud_note.entity.User" 
					 select="findUser"
					 column="cn_user_id">
		</association>
	</resultMap>
	<select id="findUser" parameterType="String" resultType="cn.tedu.cloud_note.entity.User">
		select * from cn_user where cn_user_id=#{id}
	</select>
	
	<!-- 一条查询语句实现 -->
	<select id="findBookAndUser2" resultMap="bookMap2">
		select * from cn_user u join cn_notebook b on(u.cn_user_id=b.cn_user_id)
	</select>
	<resultMap id="bookMap2" type="cn.tedu.cloud_note.entity.Book">
		<association property="user"
		 			 javaType="cn.tedu.cloud_note.entity.User" 
					 select="findUser"
					 column="cn_user_id">
		</association>
	</resultMap>
</mapper>