<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org//dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cloud_note.dao.UserDao">
	<select id="findByName" parameterType="string" resultType="cn.tedu.cloud_note.entity.User">
		select * from cn_user where cn_user_name=#{name}
	</select>
	<select id="findById" parameterType="string" resultType="cn.tedu.cloud_note.entity.User">
		select * from cn_user where cn_user_id=#{cn_user_id}
	</select>
	<insert id="save" parameterType="cn.tedu.cloud_note.entity.User" >
		insert into cn_user(
			cn_user_id,
			cn_user_name,
			cn_user_password,
			cn_user_token,
			cn_user_desc)
		values(#{cn_user_id},
			#{cn_user_name},
			#{cn_user_password},
			#{cn_user_token},
			#{cn_user_desc})
	</insert>
	<update id="updatePassword" parameterType="cn.tedu.cloud_note.entity.User">
		UPDATE cn_user SET cn_user_password =#{cn_user_password},cn_user_desc=#{cn_user_desc},
		cn_user_name=#{cn_user_name},cn_user_token=#{cn_user_token} 
		WHERE cn_user_id=#{cn_user_id}
	</update>
</mapper>